.loginIcon, .favoriteIcon, .cartIcon {
    color: white;
    width: 47px;
    height: 27px;
    cursor: pointer;
}

.loginIcon :hover, .tooltipContainer {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.tooltipContainer {
    position: relative;
    overflow: hidden;
    top: 50px;
    width: 325px;
    visibility: hidden;
    left: -175px;
}

.tooltipContainer::before {
    content: "";
    width: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 11px solid white;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

.tooltip {
    flex-direction: column;
    left: 0;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 10px;
    display: flex;
    background-color: #fff;
}
