.checkBoxContainer {
    display: flex;
    align-content: stretch;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.contentTypesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6px;
    background-color: #fff;
    padding: 20px 27px;

}
.btnSelect{
    white-space: nowrap;
    text-align: center
}
.nameOfType{
    font-size: 18px;
}
.textBelowOfType{
    font-size: 14px;
    font-weight: 300;
}
.square{
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid black;
    display: flex;
}
.squareContainer{
    display: flex;
    justify-content: center;
}
/*.preferencesName{*/
/*    padding:32px 32px 32px 0;*/
/*    font-size: 13px;*/
/*}*/