.headerUserMenu{
    display:flex;
    flex-direction: row;
    width:100%;
    height:57px;
    background-color: #eee;
    justify-content: space-between;
}
/*.borderBetween {*/
/*    content: "|";*/
/*    padding: 0 0.5em;*/
/*    color:black;*/
/*}*/
.linkRegistration{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}